:local(.button) {
    font-size: 1rem;
    line-height: 1.1875em;
    margin: 16px 0 8px !important;
    padding: 6px 4px 7px !important;
    background-color: transparent;
    transition: background-color .5s;
}

:local(.selected) {
    background-color: yellow !important
}

:local(.input) {
    position: relative;
    top: .4rem;
}

:local(.inputField) {
    width: 5rem !important;
}