:local(.effect-NONE) {
    display: inline-block;
    opacity: 0
}

:local(.effect-BOUNCE) {
    display: inline-block;
    opacity: 0
}

:local(.effect-STOMP) {
    display: inline-block;
    opacity: 0
}

:local(.VISIBLE) {
    opacity: 1
}

:local(.line) {
    margin: 0
}
