:local(.radio) {
    width: 36px !important;
    height: 36px !important;
}

:local(.disabled) {
    opacity: .5;
}

:local(.option) {
    /* optional styles - keep 'em just in case */
    box-sizing: border-box
}